.project-card {
  display: grid;
  margin: 50px 0;
  border-radius: 2px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px
}

.project-container h4 {
  font-size: 1.7em;
  color: #A8DADC;
  border-bottom: 1px solid;
  width: fit-content;
}

.project-card h4 {
  font-weight: 800;
  font-size: 1.4em;
}


.project-card img {
  opacity: .7;
  width: 100%;
}

.project-card img:hover {
  opacity: .5;
  cursor: pointer;
}

.github {
  transform: scale(1);
  color: #A8DADC;
  transition: 1s ease-out
}

.github:hover {
  transition: 1s ease;
  transform: scale(1.3);
  color: #457B9D
}

.project-info {
  color: #457B9D;
  text-align: center;
  font-size: 1.1em;
}



.project-info ul p {
  margin: 0px;
  color: #A8DADC
}

.project-info ul {
  display: flex;
  justify-content: space-around;
  font-size: 1em;
  font-weight: 800;
  padding: 0;
}

@media screen and (max-width: 500px) {
  .project-card {
    display: flex;
    flex-direction: column;
  }

  .project-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1.1em;
    font-weight: 800;
    padding: 0;
  }

  .project-card img {
    height: 20vh;
  }

  .project-container {
    display: flex;
    flex-flow: column;
  }

  .project-container h4 {
    margin: 0;
  }

}