.project-card {
  display: grid;
  margin: 50px 0;
  border-radius: 2px;
  grid-template-columns: 1fr 1fr;
}

.project-card h4 {
  font-weight: 800;
  font-size: 1.4em;
}


.project-card img {
  opacity: .7;
  height: 100%;
  width: 100%;
}

.github {
  margin: 5px 40px;
  transform: scale(2.5);
  color: #1D3557

}

.project-info {
  color: #1D3557;
  text-align: center;
  background-color: #457B9D;
  font-size: 1.1em;
}



.project-info ul p {
  margin: 0px
}

.project-info ul {
  display: flex;
  justify-content: space-around;
  font-size: 1.2em;
  font-weight: 800;
  padding: 0;
}

@media screen and (max-width: 500px) {
  .project-card {
    display: flex;
    flex-direction: column;
  }

  .project-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1.1em;
    font-weight: 800;
    padding: 0;
  }

}