html, body, .App, #root {
  height: 100%;

  overflow-y: hidden;
}
* {
  font-family: 'Abel', sans-serif;

}



button {
  background-color: #1D3557;
  border: none;
  color: #A8DADC;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #A8DADC;
  height: 12%;
  background-color: #1D3557;
  border-bottom: 2px solid;
}


header a, button {
  color: #A8DADC;
  font-size: 2em;
  background-color: transparent;
  width: min-content;
}

main {
  background-color: #1D3557;
  display: flex;
  height: 88%;
  padding-bottom: 1.6%;
  justify-content: space-between;
}

main aside {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 2vw;
  padding: 10px;
  border-right: 1px #A8DADC;
  border-style: dotted solid;
  color: #1D3557;
  justify-content: flex-start;
  align-items: center;
}

main aside svg {
  margin: 20px 0;
  transform: scale(2);
  cursor: pointer;
  color: #A8DADC;
  transition: 1s ease-out;
}

main aside svg:hover {
  transition: .7s ease;
  transform: scale(2.3);
  color: #457B9D
}

.top {
  box-sizing: border-box;
  height: max-content;
  width: 50%;
  height: 100%;
  text-align: center;
  position: static;
}
.down {
  cursor: pointer;
  font-size: 3em;
  color: #A8DADC;
}
@keyframes load {
  from {
    font-size: 1em;
  }

  to {
    font-size: 4em;
  }
}
.top h3 {
  transition: ease-in-out;
  margin: 200px 0 0 0;
  font-size: 4em;
  animation: load 2.5s;
}

.top p {
  font-size: 2em;
}



.main-content {
  border-radius: 10px;
  padding: 50px;
  width: 100%;
  overflow-y: scroll;
  color: #A8DADC;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.main-content h3 {
  color: #A8DADC

}


.main-content::-webkit-scrollbar {
  background-color: transparent;
}

.top-arrow {
  color: #A8DADC;
  font-size: 2em;
  position: fixed;
  margin: 0;
  z-index: 1;
  align-self: center;
  transition: 1s ease-out;
}

.top-arrow:hover {
  transition: 1s ease;
  transform: scale(1.5);
}

@media screen and (max-width: 500px) {
    header a {
      font-size: 1.3em;
    }
    h1 {
      font-size: 1.5em;
    }
    main aside {
      display: flex;
      flex-flow: column;
      border: none;
      width: fit-content;
      height: fit-content;
      position: fixed;
      z-index: 1;
    }
    main aside svg {
      transform: scale(1.2);
      margin: 0 15px 0 0;
    }
    .main-content {
      width: fit-content;
    }
    main {
      padding-bottom: 7%;
    }
    .top {
      height: 100%;
      width: 50%;
      display: none;
    }

    iframe {
      display: none;
    }

    .resume-link {
      display: none;
    }
}