html, body, .App, #root {
  height: 100%;

  overflow-y: hidden;
}
* {
  font-family: 'Abel', sans-serif;

}

button {
  background-color: #1D3557;
  border: none;
  color: #457B9D;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #1D3557;
  height: 12%;
  background-color: #457B9D;
}


header a, button {
  color: #1D3557;
  font-size: 2em;
  background-color: transparent;
}

main {
  background-color: #1D3557;
  display: flex;
  height: 88%;
  padding-bottom: 1.5%;
  justify-content: space-between;
}

main aside {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 1vw;
  padding: 10px;
  background-color: #457B9D;
  color: #1D3557
}

main aside svg {
  margin: 15px 0px;
  transform: scale(2);
  cursor: pointer;
  color: #1D3557
}

.email {
  width: 40%;
}

.email p {
  transform: rotate(90deg);
  font-size: 1.4em;
  align-self: flex-start;
}

.main-content {
  border-radius: 10px;
  padding: 50px;
  width: 100%;
  overflow-y: scroll;
  color: #457B9D;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.main-content::-webkit-scrollbar {
  background-color: transparent;
}

.top-arrow {
  color: #457B9D;
  font-size: 2em;
  position: fixed;
  margin: 0;
  align-self: center;
}