.about-content {
  display: flex;
  justify-content: space-between;
}

.about-content ul {
  display: flex;
  text-align: left;
  font-size: 1.4em;
  font-weight: 600;
  padding: 0;
  border-bottom: 1px solid #A8DADC;
  width: fit-content;
}



.about-section {
  margin-top: 100px;
}

.about-content ul p {
  color: #A8DADC;
  margin: 10px;
  font-size: .8em;
}

.about-content ul label {
  align-self: center;
}

.about-content img {
  opacity: .5;
  height: 200px;
}

.jackson {
  float: right;  
  height: 200px;
  width: 200px;
  margin: 0;
  margin-left: 5px;
  border: 1px solid ;
}

.about-content p {
  font-size: 1.3em;
  font-weight: 600;
  word-wrap: break-word;
}

.about-section h3 {
  border-bottom: 1px solid;
  font-size: 2em;
  font-weight: 700;
}

@media screen and (max-width: 640px) {
  .about-section {
    transform: scale(.8);
    margin: none;
  }
  .about-content img, .jackson {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .about-content {
    flex-direction: column;
  }
  .about-section {
    width: 100%;
    margin-top: 0;
    transform: scale(1);
  }
  
  .about-content ul {
    flex-flow: column wrap;
  }
}