
.navLinkBox {
  background-color: #1D3557;
  padding: 10px;
  color: #457B9D;
  font-weight: 600;
  text-align: left;
  font-size: 1.3em;
  display: flex;
  border-radius: 2px;
  position: relative;
  transition: all 1s smooth;
}

.navLinkBox article {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}


.navLinkBox header {
  background-color: transparent;
  color: #457B9D; 
  border-bottom: none;
}

.navLinkBox header p {
  margin: 5px 5px;
  border-bottom: 1px solid;
  cursor: pointer;
  width: 50%;
}

.goal, .challenges {
  border-bottom: 1px solid;
  color: #A8DADC;
}

.description {
  height: 5em;
  overflow-y: scroll;
  overflow-x: hidden;
}

.navLinkBox article p {
  width: 100%;
}

.description::-webkit-scrollbar {
  background-color: transparent;
  width: 2px;
  
}

.description::-webkit-scrollbar-thumb {
  background-color: #A8DADC;
  border-radius: 5px;
}

.active-content { color: #A8DADC }
@media screen and (max-width: 500px) {
  .navLinkBox {
    width: 100%;
    flex-flow: column;
    padding: 0;
  }

  .description {
    height: 75px;
  }


}